# DS 3001: Foundations of Machine Learning
## Assignment 2: EDA/Visualization, KNN, K Means Clustering
## (100 Possible Points)

### **Your Name**: Last, First

### **Your Computing ID:**

### **Sign Honor Pledge Here:**

On my honor as a student, I have neither given nor received unauthorized aid on this assignment.

### **Assignment Description**

The questions for the second assignment of the semester, `Assignment 2`, are found below. The questions are split between the topics we discussed in the EDA/Visualization, KNN, and K Means Clustering notebooks. These questions give you the chance to combine all that we've learned into tasks that you could run into as a data scientist.

For help with formatting your markdown responses in text cells, reference this [markdown style cheat sheet](https://www.markdownguide.org/cheat-sheet/).

**AI Use:** For Assignment 2, you may use autofill code suggestions that Google Colab provides to you in the code blocks. You should not assume that the suggestions are always correct. Make sure that you think critically about whether the suggestions are correct or not and if they make sense with what you are trying to achieve. You may NOT use AI for the written responses in the markdown cells. I want to know what you are thinking about for your justifications, not what an LLM produces. If you have any need for clarification on this policy, please reach out to me earlier than later.

**Submission Instructions:** For a complete submission, please upload your completed Assignment 2 notebook (.ipynb) on Canvas.

#### Setting up your directory

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os # For changing directory

# To mount your google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
path_to_DS_3001_folder = '/content/drive/MyDrive/DS3001/assignments/'
# path_to_DS_3001_folder = ''

# Update the path to your folder for the class
# Where you stored the data from the previous noteboook
os.chdir(path_to_DS_3001_folder)

## Section 1: EDA and Visualization (25 Points)

**Q1.1 (1 Point)**: Load in the `college_completion.csv` file using Pandas. You can find the file on the GitHub repository for class in the `assignments/data/` folder. This is a data set from the US Department of Education. We will look at the following variables:

- `level`: Level of institution (4-year, 2-year).
- `aid_value`: The average amount of student aid going to undergraduate recipients.
- `control`: Public, Private not-for-profit, Private for-profit.
- `grad_100_value`: percentage of first-time, full-time, degree-seeking undergraduates who complete a degree or certificate program within 100 percent of expected time (bachelor's-seeking group at 4-year institutions).

In [5]:
# 1.1 Answer Here
df = pd.read_csv('college_completion.csv')

**Q1.2 (1 Point)**:
  - What are are the dimensions of the data?
  - How many observations are there? Save this values as a variable called n_rows and print to the screen.
  - How many columns are there? Save this values as a variable called n_cols and print to the screen.
  - Use `.head()` to examine the first few rows of data.

In [11]:
# 1.2 Answer Here
n_rows, n_cols = df.shape
n_rows = {n_rows}
n_cols = {n_cols}
df.head()

,index,unitid,chronname,city,state,level,control,basic,hbcu,flagship,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
0,0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,...,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,NaN,882.0
1,1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,...,NaN,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0
2,2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,...,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,NaN,3.0
3,3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,...,0.0,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0
4,4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,...,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0

**Q1.3 (1 Point)**: Create a cross table with the variables `control` and `level`. Make the table such that the each entry represents the *proportion* of observations rather than the count.

In [12]:
# 1.3 Answer Here
cross_tab = pd.crosstab(df['control'], df['level'], normalize=True)
print(cross_tab)

level                     2-year    4-year
control
Private for-profit      0.122433  0.138757
Private not-for-profit  0.017904  0.310690
Public                  0.243813  0.166403

**Q1.4 (3 Points)**: Answer the following questions based on the cross table you created above:

* What combination of `level` and `control` has the highest proportion of observations? What is the value for that proportion?:
  - **Answer:**

* What is the second most common combination of `level` and `control`? What is the value for that proportion?
  - **Answer:**

* What is the least common combination of `level` and `control`? What is the value for that proportion?
  - **Answer:**

**Q1.5 (2 Points)**: Look at the `grad_100_value` variable.
  - What is the data type for the `grad_100_value` variable?
  - Based on its data type, what kind of visualizations that we talked about in class could you make for it? Include all of the possible visualizations that we discussed in the EDA and Visualization notebooks that would make sense for the `grad_100_value` variable.

**Answer:**

In [ ]:
# 1.5 Code Answer Here (for finding the data type)

**Q1.6 (3 Points)**:
  - Based on your response above, create each of the potentiatl plots you identified for the `grad_100_value` variable.
  - For each plot, describe the benefit of that visualization technique in comparison to the others you created. In other words, why would you want to use one visualization technique instead of another?

  **Answer Here with Benefits of Each Visualization:**

In [ ]:
# 1.6 Visualizations Here

**Q1.7 (1 Point)**: For the `grad_100_value` variable, create a Kernel Density Plot that is grouped by `control`. Based on this plot, what type of `control` seems to have the best (highest) graduation rates?

**Answer Here**:

In [ ]:
# 1.7 Answer Here

**Q1.8 (1 Point)**: For the `grad_100_value` variable, create a Kernel Density Plot that is grouped by `level`. Based on the plot, what `level` (4-year or 2-year) seems to have the highest graduation rates?

**Answer Here:**

In [ ]:
# 1.8 Answer Here

**Q1.9 (1 Point)**: Generate the grouped statistical descriptions of `grad_100_value` by `level`.
  - (Hint: use `.describe()` and `.groupby()`)

In [ ]:
# 1.9 Answer Here

**Q1.10 (1 Point)**: Generate the grouped statistical descriptions of `grad_100_value` by `control`.
  - (Hint: use `.describe()` and `.groupby()`)

In [ ]:
# 1.10 Answer Here

**Q1.11 (2 Points)**:
  - Using your grouped descriptions, which `level` of institutions has the highest average graduation rates?
  - Which type of `control` has the highest average graduation rate?

**Answer:**

**Q1.12 (1 Point)**: Does your answer to **Q1.11** agree with your answers from **Q1.7** and **Q1.8**?

**Answer:**

**Q1.13 (2 Points)**:

1. Create a new variable, `df['levelXcontrol']=df['level']+', '+df['control']` that interacts `level` and `control`.

1. Make a grouped kernel density plot of `grad_100_value` grouped by the new variable you created.

1. Add reasonable labels for the x-axis, title, and legend of your grouped KDE Plot. *Hint:* You can change the legend title as an argument in the `sns.move_legend()` function. Look at the documentation for `sns.move_legend()`.

1. Generate the grouped statistical descritions of `grad_100_value` grouped by your new variable.

1. From you visualization and statistical descriptions, which institutions (combination of level and control) appear to have the best graduation rates? Which combination has the the worst graduation rates?

**Answer:**

In [ ]:
# Answer 1.13 Here

**Q1.14 (1 Point)**: Create a scatterplot of the `grad_100_value` variable and `aid_value`. Place `aid_value` on the x-axis and `grad_100_value` on the y-axis. Add reasonable labels for the x-axis, y-axis, and title.

In [ ]:
# 1.14 Answer Here

**Q1.15 (2 Points)**: Calculate the covariance and correlation matrix between `grad_100_value` and `aid_value`.

In [ ]:
# 1.15 Answer Here

**Q1.16 (1 Point)**:
  - From the scatterplot and matrices you created, what relationship do you see?
  - Is there a positive or negative relationship between the two variables?
  - How strong is it? Hint: Look at the correlation value for sign and strength.

**Answer:**

**Q1.17 (1 Point)**: Re-create your scatter plot of `grad_100_value` and `aid_value`. This time, change the color of the points based on the `control` variable. For which kinds of institutions does aid seem to have the strongest correlation with graduation rates?

**Answer:**

In [ ]:
# 1.17 Answer Here

## Section 2: K Nearest Neighbors (60 Points Total)

### Question 2

**Q2.1 (2 Points)**: What is the difference between regression and classification?

**Answer:**

**Q2.2 (2 Points)**: What is a confusion table? What does it help us understand about a model's performance?

**Answer:**

**Q2.3 (2 Points)**: What does the SSE quantify about a particular model?

**Answer:**

**Q2.4 (2 Points)**: What are overfitting and underfitting?

**Answer:**

**Q2.5 (2 Points)**: Why does splitting the data into training and testing sets, and choosing by evaluating accuracy or SSE on the test set, improve model performance?

**Answer:**

**Q2.6 (2 Points)**: With classification, we can report a class label as a prediction or a probability distribution over class labels. Please explain potential strengths and weaknesses of each approach.

**Answer:**

### Question 3

For this question, you will create a $k$ nearest neighbor regression model for the `USA_cars_datasets.csv` data. The data can be found on the GitHub repository for the class in the `assignments/data/` folder. The target variable `y` is `price` and the features are `year` and `mileage`.

**Q3.1 (2 Points)**:

- Load the `USA_cars_datasets.csv` data set. Call the data frame `cars_df`.
- Keep the following variables and drop the rest: `price`, `year`, `mileage`.
- Look at the data using head and report the dimensions (num rows, num columns) of the data. Print both values to the screen.
- Are there any `NA`'s to handle? Include your answer as comment in your code near where you answer this question.

In [ ]:
# 3.1 Answer here

**Q3.2 (2 Points)**:  MaxMin normalize the `year` and `mileage` variables. First create them as columns in the `cars_df` data frame. Next, isolate these scaled columns in a new data frame called `X`.

In [ ]:
# 3.2 Answer here

**Q3.3 (2 Point)**: Split your data set into a 70/30 split, where 70% of the data are in the training data set and 30% are in the test data set. Use a random state seed of `100` for replicability.

In [ ]:
# 3.3 Answer here

**Q3.4 (5 Points)**:

- Train a KNN model using your training data to predict predict `price` using `year` and `mileage`. Investigate the following values of $k$: $k=3,10,25,50,100,300$.

- For each value of $k$, compute the mean squared error for the train and test data and save these values in a list for later.

- As well, for each value of $k$ create a scatterplot showing the true value of `price` in the **test** dataset against the predicted value of `price`.
  - In the title for each plot, inlcude the value of k and the calculated MSE.
  - Set the ylimit and xlimit for each plot to be between [-100, 62000]. You can do this using `plt.xlim([-100, 62000])` and `plt.ylim([-100, 62000])` after you have created the scatter plot.
  - Make sure to use `plt.show()` each time you are done creating a plot for that value of $k$.

In [ ]:
# 3.4 Answer here

**Q3.5 (2 Points)**: From the generated plots above, what patterns do you notice as you increase the value of $k$? Hint: what happens to our predictions?

**Answer:**

**Q3.6 (3 Points)**: Using your saved values of the MSE for the train and test data, plot both as line plots for different values of k. What does this plot show?

**Answer:**

In [ ]:
# 3.6 Answer here

**Q3.7 (2 Points)**
  - What is the optimal value of $k$ from the $k$'s the we have investigated? Create a variable `best_k` that stores the best value of k and print it to the screen.
  - Which subset of data did you use to determine the optimal value of $k$?

**Answer:**

In [ ]:
# 3.7 Answer here

**Q3.8 (5 Points)** Repeat the process from **Q3.4**. This time, investigate all possible values of k from 1 to 200.
  - Do **NOT** make plots of the predicted vs actual values.
  - Do make a plot that shows the train and test MSE for each value of $k$ this time. (MSE on the y-axis and $k$ on the x-axis.)
  - Identify the best value of k from this new set of all possible values of $k$. Again, print the best value of to the screen.

In [ ]:
# 3.8 Answer Here

**Q3.9 (2 Points)**: Now that we know how the model is performing across different values of $k$, revisit the plots that you created in **Q3.5**.
   - Describe what happened in the plots of predicted versus actual prices in the test set as $k$ varied (Hint: Use the words "underfitting" and "overfitting".)

**Answer:**

### Question 4

This is a case study on $k$ nearest neighbor classification, using the `zoo.csv` data.

The data consist of a label, `class`, taking integer values 1 to 7, the name of the species, `animal`, and 16 characteristics of the animal, including `hair`, `feathers`, `milk`, `eggs`, `airborne`, and so on.

**Q4.1 (2 Points)**: Load the data as data frame: `zoo_df`.
  - `For` each of the seven `class` labels, print the unique `animal` values in that class.
  - This will help you get a sense of what is included in that group.

In [ ]:
# 4.1 Answer Here

**Q4.2 (2 Points)**: Additional EDA:
  - How many observations are there for each of the `class` values?
  - If you make a histogram, how many bins should you use?
  - Does it look like there's an even split among the classes?

**Answer:**

In [ ]:
# 4.2 Answer here

**Q4.3 (2 Points)**: Additional EDA:
  - How much variation is there in each of the features/covariates? Look at the distribution of any of the features you find interesting.
  - Visualize the distirbution of at least 2 features.

In [ ]:
# 4.3 Answer Here

**Q4.4 (2 Points)**: We want to predict the `class` for each observation using a KNN Classifier.
  - Split your data into your outcome (y) and features (X).
  - Remove any non-numeric data from your features.
  - Split the data 50/50 into training and test/validation sets. Use a random state of 10 for replicability. (The smaller the data are, the more equal the split should be. Otherwise, all of the members of one class end up in the training or test data, and the model falls apart.)

In [ ]:
# 4.4 Answer Here

**Q4.5 (5 Points)**: Using all of the numeric variables, build a $k$-NN classifier.
  - Given your training data, what is the largest value of $k$ that you can test? Look at all values of $k$ from 1 to your identified max value.
  - From these values of $k$, identify the best value of $k$. How did you identify the best value of $k$?

**Answer:**

In [ ]:
# 4.5 Answer Here

**Q4.6 (3 Points)**:
  - Print a confusion table for the optimal model, comparing predicted and actual class label on the test set. Keep the table as raw counts.
  - How accurate is your optimal model?
  - Which true classe(s) are we misclassifying?

**Answer:**

In [ ]:
# 4.6 Answer Here

**Q4.7 (5 Points)**: Use only `milk`, `aquatic`, and `airborne` to train a new $k$-NN classifier.
  - Find the optimal model and print your confusion table for the optimal model.
  - Does your optimal model predict all possible classes? If not, what possible classes does it not predict?

**Answer:**

In [ ]:
# 4.7 Answer Here

**Q4.8 (2 Points)** Using your optimal model, we want to know if it gives any chance to the classes that aren't being predicted right now.
  - To see the underlying probabilities for the test observations, use `model.predict_proba(X_test)` to predict probabilities rather than labels for your `X_test` test data for your fitted `model`.
  - Look at the plot that is created below. It is a heatmap where the class index is the columns and each row is an observation. The color indicates the probability that the model is assigning to a given class index.
  - Are all of the classes represented when we look at the probabilities instead of hard classifications? Explain your results.
  - Using this information, why might we want to look at the probabilities instead of the hard classification?

  **Answer:**

In [ ]:
# 4.8 Answer Here

# Fill in your predicted probabilities here
predicted_proabilities =

# Create a heatmap of the predicted probabilities per class
sns.heatmap(predicted_proabilities, cmap = 'plasma', cbar_kws={'label': 'Predicted Probability for Class'})
plt.xlabel('Class Index')
plt.ylabel('Class Observation')
plt.title('Heatmap of the Predicted Class Probability\nfor each Test Observation')
plt.xticks(np.arange(zoo_df['class'].unique().shape[0]) + 0.5, np.arange(zoo_df['class'].unique().shape[0]) + 1)
plt.show()

## Section 3: Clustering (15 Points Total)

### Question 5

For this question, we want to investigate how the K Means Clustering model performs as our data becomes either less or more noisey.

**Q5.0** Run the code below to create a function `createData`. This function will create data with 3 different clusters (i.e. data generation processes). This is done by changing the mean of the normal distribution. We can make the difference between the data sets less detectable by increasing the `noise` which is just the standard deviation of each distribution.

In [ ]:
import numpy as np
import pandas as pd

# Creating a function that creates data with varying level of noise
# This noise is just the standard deviation
# This function returns a dataframe with the generated data

def createData(noise, N=50, seed = 100):
    # Set the seed for replicability
    np.random.seed(seed)

    # Generate (x1,x2,g) triples:
    X1 = np.array([
        np.random.normal(1,noise,N), # Group one has x with mean 1
        np.random.normal(1,noise,N)  # Group one has y with mean 1
    ])

    X2 = np.array([
        np.random.normal(3,noise,N), # Group two has x with mean 3
        np.random.normal(2,noise,N)  # Group two has x with mean 2
    ])

    X3 = np.array([
        np.random.normal(5,noise,N), # Group three has x with mean 5
        np.random.normal(3,noise,N)  # Group three has x with mean 3
    ])

    # Concatenate the data into one data frame
    gdf1 = pd.DataFrame({'x1':X1[0,:],'x2':X1[1,:],'group':'a'})
    gdf2 = pd.DataFrame({'x1':X2[0,:],'x2':X2[1,:],'group':'b'})
    gdf3 = pd.DataFrame({'x1':X3[0,:],'x2':X3[1,:],'group':'c'})
    df = pd.concat([gdf1,gdf2,gdf3],axis=0)

    # Retun the generate data
    return df

**Q5.1 (2 Point)**:  Using the `createData` function, create 5 data sets with varying levels of noise values. The values of noise and what you should call the data frames are included in the table below:

| Data Frame Name | Noise Value |
| --------------- | ----------- |
| `df0_125` | 0.125 |
| `df0_25` | 0.25 |
| `df0_5` | 0.5 |
| `df1_0` | 1.0 |
| `df2_0` | 2.0 |

In [ ]:
# 5.1 Answer Here

**Q5.2 (2 Point)**:  Create scatter points of the `x1` and `x2` for each of your data sets and color the points based on the `group` variable.
  - For each plot, change the title so that it reflects what the value of noise is.
  - What do you notice happens to the visual distinctness of the clusters as you increase the noise level from 0.125 to 2?
  - When do the clusters begin to not be clear without the included coloring of the dots?

**Answer:**

In [ ]:
# 5.2 Answer Here

**Q5.3 (6 Points)**:  
- For each of the generated data sets, run K Means Clustering on the data set and generate a scree plot.
- For each plot, set the ylmit to be between 0 and 35 (`plt.ylim([0, 35])`).
-  So that you can re-use this code for each data set instead of re-writing it, create a function called `GenerateScreePlot()` that takes your data and the noise as input.
- So that your results are reproducible, use the following values for the parameters in your analysis:
  - `max_k`: 15
  - `max_iter`: 300
  - `n_init`: 10
  - `random_state`: 0

In [ ]:
# 5.3 Answer Here

**Q5.4 (2 Points)**:  
- From the plots you generated, what happens to the scree plot as the noise increases?
- What happens to your ability to identify the elbow, or optimal value of k, as the noise increases?

**Answer Here:**

**Q5.5 (3 Point)**:  Given the example you ran, explain the intuition about using the elbow method with the scree plot. Discuss when the approach will work vs when it will not work.

**Answer:**